{% extends "base.html" %}

{% block content %}
    <h1>
      Cook List<a href="{% url 'restaurant:cook-create' %}" class="btn btn-primary link-to-page">
        Create
      </a></h1>
        <form method="get" action="" class="form-inline">
            {{ search_form.as_p }}
            <input class="btn btn-secondary" type="submit" value="search" >
        </form>

    {% if cook_list %}
    {% for cook in cook_list %}
      <ul>
        <li>{{ cook.id }} <a href="{% url 'restaurant:cook-detail' pk=cook.id %}">
            {{ cook.username }} {% if user == cook %} (Me)
        {% endif %} ({{ cook.first_name }} {{ cook.last_name }}) {{ cook.year_of_experience }} year experience</a></li>
      </ul>
    {% endfor %}

    {% else %}
      <p>There are no cooks in the service.</p>
    {% endif %}
{% endblock %}
