{% extends "base.html" %}

{% block content %}
    <h1>
      {{ dish.name }}
        <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
        <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    </h1>
    <li>Price: {{ dish.price }} $</li>
    <p>Dish type: {{ dish.dish_type }}</p>
        <li>
          Description: {{ dish.description }}
        </li>
  <h1>
    Cook:
  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} ({{cook.first_name }} {{ cook.last_name }})</li>
    {% empty %}
        <p>No cooks!</p>
    {% endfor %}
  </ul>
{% endblock %}
